@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	.heading{
		@apply text-blue-500
	}
	.btn-primary{
		@apply bg-blue-500 tracking-wider px-4 py-2 rounded-full hover:bg-blue-700 text-white transition duration-500 ease-in-out transform hover:translate-y-1 shadow-lg
	}
	.nav-link{
		@apply  my-1
		text-sm
		font-medium
		text-gray-700
		dark:text-gray-200
		hover:text-indigo-500
		dark:hover:text-indigo-400
		md:mx-4
		md:my-0
	}
}